# Eden Emulator - Controller Configuration
[controller_0]
type = xbox
deadzone_left = 0.15
deadzone_right = 0.15
button_a = A
button_b = B
button_x = X
button_y = Y
button_l = LB
button_r = RB
button_zl = LT
button_zr = RT
button_plus = START
button_minus = BACK
button_ls = LTHUMB
button_rs = RTHUMB
dpad_up = DPAD_UP
dpad_down = DPAD_DOWN
dpad_left = DPAD_LEFT
dpad_right = DPAD_RIGHT

[controller_1]
type = none
